<div class="container-fluid">
  <div class="row py-4 justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="text-center">
        <h1 class="text-uppercase text-capitalize text-subject">
          STATUTE
        </h1>
        <h6 class="pt-2">
          The sale of electronic products through the online store edusnooker.com
          is carried out by Voice&Sound Magdalena Lebiecka, ul.Nowowiejska 26, 45-460 Opole, NIP: 9691301802 REGON: 520961671
        </h6>
        <h6>The seller can be contacted at the e-mail address edusnooker@gamil.com</h6>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-9">
      <div>
        <h4 class="text-subject">§1 Definitions</h4>
        <p class="text-subject">For the purposes of these regulations, the following meanings of the following terms are
          adopted:</p>
        <p class="text-subject">1. Buyer - a natural person with full legal capacity, a legal person. </p>
        <p class="text-subject">2. Consumer - a natural person, making a purchase in the scope not directly related to
          its economic
          or professional activity (according to the content of Article 221 of the Civil Code). </p>
        <p class="text-subject">3. Payment Operator - the entity responsible for handling payments. The Seller cooperates with:
          ...... </p>
        <p class="text-subject">4. Payment Card Operator - an entity responsible for handling payment card payments. The Seller cooperates with:
          ...... </p>
        <p class="text-subject">5. Regulations - these regulations, available at https://edusnooker.com/statute. </p>
        <p class="text-subject">6. Store - online store, available at https://edusnooker.com,
          Seller - Voice&Sound Magdalena Lebiecka, 26 Nowowiejska Street, 45-460 Opole, NIP: 9691301802 REGON: 520961671. </p>
        <h4 class="text-subject">§2 Preliminary provisions</h4>
        <p class="text-subject">1. Through the Store, the Seller sells electronic products, while providing electronic services to the Buyer in accordance with §3 of the Regulations. </p>
        <p class="text-subject">2. The Regulations define the terms and conditions of use of the Store, as well as the rights and obligations of the Seller and the Buyer. </p>
        <p class="text-subject">3. In order to make a purchase through the Store, it is not necessary to meet special technical conditions by the Buyer's computer or other device. Sufficient are: </p>
        <p class="text-subject" style="text-indent: 5%; ">a) Internet access, </p>
        <p class="text-subject" style="text-indent: 5%; ">b) Standard operating system, </p>
        <p class="text-subject" style="text-indent: 5%; ">c) Latest available version of Google Chrome web browser, </p>
        <p class="text-subject" style="text-indent: 5%; ">d) Having an active e-mail address. </p>
        <p class="text-subject">4.Technical conditions that the Buyer's computer or other device, necessary for the use of the purchased electronic product, must meet:</p>
        <p class="text-subject" style="text-indent: 5%; ">a) Internet access, </p>
        <p class="text-subject" style="text-indent: 5%; ">b) Standard operating system, </p>
        <p class="text-subject" style="text-indent: 5%; ">c) Latest available version of Google Chrome web browser, </p>
        <p class="text-subject" style="text-indent: 5%; ">d) Having an active e-mail address. </p>
        <p class="text-subject">5. Buyer can not make a purchase anonymously or under a pseudonym. </p>
        <p class="text-subject">6. It is prohibited for the Buyer to provide unlawful content. </p>
        <p class="text-subject">7. All prices listed in the Store are gross prices. </p>
        <h4 class="text-subject">§3 Services provided electronically</h4>
        <p class="text-subject">1. Through the Store, the Seller provides the Buyer with an electronic service consisting of enabling the Buyer to conclude a contract with the Seller for the delivery of digital content in the form of electronic products available in the Store. It is possible to conclude a contract after previously creating an account in the Store. The procedure for concluding a contract is described in detail in §5 of the Regulations. </p>
        <p class="text-subject">2. Seller provides the Buyer with the opportunity to create an account in the Store. It is possible to create an account when placing an order in accordance with the procedure described in §4 of the Regulations. </p>
        <p class="text-subject">3. If the Buyer decides to create an account in the Store, the Seller also provides the Buyer with an electronic service consisting of maintaining an account in the Store. The account stores the Buyer's data and the history of orders placed by the Buyer in the Store. The Buyer logs into the Account using a defined username and password sent to the Buyer's e-mail address. </p>
        <p class="text-subject">4. Services are provided to the Buyer free of charge. However, contracts for the delivery of digital content concluded through the Store are chargeable. </p>
        <h4 class="text-subject">§4 Intellectual property rights</h4>
        <p class="text-subject">1. The Seller hereby instructs the Buyer that the electronic products available in the Store constitute works within the meaning of the Act of February 4, 1994 on Copyright and Related Rights, the copyright to which is vested in the Seller. </p>
        <p class="text-subject">2. The Seller hereby instructs the Buyer that further distribution of electronic products by the Buyer without the Seller's permission constitutes an infringement of the Seller's copyright in the electronic products and may result in civil or criminal liability. </p>
        <h4 class="text-subject">§5 Entering into a contract</h4>
        <p class="text-subject">In order to purchase an electronic product, the Buyer must take the following steps: </p>
        <p class="text-subject">1. ... </p>
        <p class="text-subject">2. ... </p>
        <h4 class="text-subject">§6 Delivery of electronic product</h4>
        <p class="text-subject">Delivery of the purchased product will take place immediately after payment by the Buyer, no later than within 24 hours of payment. The product will be available in the user panel after logging in at https://edusnooker.com.</p>
        <h4 class="text-subject">§7 Consumer's withdrawal from the contract</h4>
        <p class="text-subject">1. A consumer who has concluded a distance contract with the Seller has the right to withdraw from the contract without giving any reason within 14 days from the date of conclusion of the contract. </p>
        <p class="text-subject">2. The right of withdrawal from a contract concluded at a distance does not apply to contracts for the supply of digital content that is not recorded on a tangible medium, if the performance has begun with the express consent of the consumer before the expiration of the deadline for withdrawal and after the entrepreneur has informed him of the loss of the right of withdrawal. </p>
        <p class="text-subject">3. To withdraw from the contract, the Consumer must inform the Seller of his decision to withdraw from the contract by an unequivocal statement - for example, a letter sent by mail or e-mail. </p>
        <p class="text-subject">4. To meet the deadline for withdrawal, it is sufficient for the Consumer to send information on the exercise of the Consumer's right of withdrawal before the expiry of the deadline for withdrawal. </p>
        <p class="text-subject">5. In the event of withdrawal from the contract, the Seller shall return to the Consumer all payments received from the Consumer immediately, no later than 14 days from the day on which the Seller was informed about the exercise of the right of withdrawal. </p>
        <h4 class="text-subject">§8 Liability for defects</h4>
        <p class="text-subject">1. The Seller is obliged to provide the Buyer with an electronic product free of defects. </p>
        <p class="text-subject">2. The Seller is liable to the Buyer if the electronic product has a physical or legal defect (warranty for defects). </p>
        <p class="text-subject">3. If the Buyer finds a defect in the electronic product, he should inform the Seller about it, specifying at the same time his claim related to the found defect or making a statement of appropriate content. </p>
        <p class="text-subject">4. The Buyer may contact the Seller both by post and by e-mail. </p>
        <p class="text-subject">5. The Seller shall respond to the complaint submitted by the Buyer within 14 days from the date of delivery of the complaint to him by such means of communication, using which the complaint was submitted. </p>
        <h4 class="text-subject">§9 Personal data and cookies</h4>
        <p class="text-subject">The rules of processing personal data and using cookies are described in the privacy and cookies policy available at https://edusnooker.com/policy. </p>
        <h4 class="text-subject">§10 Out-of-court ways of dealing with complaints and claim investigation</h4>
        <p class="text-subject">1. Seller agrees to submit any disputes arising in connection with concluded contracts for the provision of digital content to mediation proceedings. Details will be determined by the parties to the conflict.</p>
        <p class="text-subject">2. The Consumer has the opportunity to use out-of-court means of processing complaints and claims. Among other things, the Consumer has the opportunity to: </p>
        <p class="text-subject" style="text-indent: 5%; ">a) turn to a permanent amicable consumer court with a request to resolve a dispute arising from the concluded agreement, </p>
        <p class="text-subject" style="text-indent: 5%; ">b) turn to the provincial inspector of the Commercial Inspection with a request to initiate mediation proceedings for the amicable settlement of a dispute between the Buyer and the Seller, </p>
        <p class="text-subject" style="text-indent: 5%; ">c) use the assistance of a district (city) consumer ombudsman or a social organization whose statutory tasks include consumer protection. </p>
        <p class="text-subject">6. More detailed information on out-of-court ways of handling complaints and claims, the Consumer can look for on the website http://www.uokik.gov.pl. </p>
        <p class="text-subject">7. The Consumer may also use the ODR platform, which is available at http://ec.europa.eu/consumers/odr. The platform is used to resolve disputes between consumers and businesses seeking out-of-court settlement of disputes regarding contractual obligations arising from an online sales contract or service contract. </p>
        <h4 class="text-subject">§11 Final provisions</h4>
        <p class="text-subject">1. The Regulations shall come into force on the date of publication in the Store. </p>
        <p class="text-subject">2. Seller reserves the right to change the Terms and Conditions, which come into force on the date of their publication in the Store. Contracts concluded before changes to the Terms and Conditions shall be governed by the version of the Terms and Conditions in force on the date of conclusion of the contract. </p>
      </div>
    </div>
  </div>
</div>
