<div class="container-fluid">
  <div class="row py-4 justify-content-center">
    <div class="col-lg-5 col-md-7">
      <p><a routerLink="/register" style="color: #2c3E50;">back to register</a></p>
      <div class="text-center">
        <h1 class="text-uppercase text-capitalize text-subject">
          TERMS OF USE
        </h1>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-9">
      <div>
        <h4 class="text-subject">§1 About Our Terms</h4>
        <p class="text-subject">1. By registering an account on the website at edusnooker.com (Site), you are agreeing to be bound by these terms of service (Terms), all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws.</p>
        <p class="text-subject">2. We are "edusnooker Magdalena Lebiecka", ul.Nowowiejska 26, 45-460 Opole POLAND, NIP: 9691301802 REGON: 520961671</p>
        <p class="text-subject">3. Our agreement with you is comprised of these Terms, our Acceptable Use Policy (see below), and our Privacy Notice (see below), which together constitute the entire agreement between us (Agreement).</p>
        <h4 class="text-subject">§2 Using the Site</h4>
        <p class="text-subject">1. The Site is for your personal use only. You must not use it for business purposes or provide access to it through your account to any other person.</p>
        <p class="text-subject">2. We may prevent or suspend your access to the Site if you fail comply with the Agreement or any applicable law.</p>
        <p class="text-subject">3. Users without subscriptions can only access non-subscription exercises.</p>
        <h4 class="text-subject">§3 Registration and Password Security</h4>
        <p class="text-subject">You must register an account to access the Exercises on the Site. You are responsible for making sure that your account details are kept secure and confidential. If we have reason to believe there is likely to be a breach of security or misuse of the Site through your account we may suspend or terminate your account.</p>
        <h4 class="text-subject">§4 Personal data</h4>
        <p class="text-subject">1. "Edusnooker Magdalena Lebiecka", ul.Nowowiejska 26, 45-460 Opole POLAND, NIP: 9691301802 REGON: 520961671 is the administrator of the personal data collected during the registration process on edusnooker.com.</p>
        <p class="text-subject">2. By completing the registration process, you consent to "edusnooker Magdalena Lebiecka", ul.Nowowiejska 26, 45-460 Opole POLAND, NIP: 9691301802 REGON: 520961671 storage of your personal information.</p>
        <p class="text-subject">3. We only utilize your data for verification purposes during the login process and for managing your personal account, which stores your progress.</p>
        <h4 class="text-subject">§5 Uptime of Service</h4>
        <p class="text-subject">We do not guarantee the Site, or any content on it, will be always available or be uninterrupted. We may from time to time suspend, withdraw, or restrict the availability of all or any part of the Site for business or operational reasons or maintenance reasons. We will try to give all users reasonable notice of any suspension or withdrawal.</p>
        <h4 class="text-subject">§6 Variation</h4>
        <p class="text-subject">We reserve the right to vary the Conditions and Privacy Notice from time to time. Our updated Conditions and/or Privacy Notice will be displayed on the Site and by continuing to use and access the Site following such changes, you agree to be bound by any variation made by Edusnooker.</p>
        <h4 class="text-subject">§7 Payments</h4>
        <p class="text-subject">1. All payments on Edusnooker are by a third-party API. Edusnooker does not store any personal payment details on the Site (apart from the payment method). By paying with Stripe.com you agree to their terms and conditions.</p>
        <p class="text-subject">2. Edusnooker only offers refunds on payments to this Site via Stripe.com. Edusnooker reserves the right to offer or not offer a refund.</p>
        <p class="text-subject">3. All payments are final. If we close your account in accordance with these Conditions, you will not receive a refund.</p>
        <h4 class="text-subject">§8 Termination</h4>
        <p class="text-subject">You can close your account or cancel your paying subscription at any time. You may move between free and paid-for accounts as much as you like.</p>
      </div>
    </div>
  </div>
  <div class="row py-4 justify-content-center">
    <div class="col-lg-5 col-md-7">
      <p><a routerLink="/register" style="color: #2c3E50;">back to register</a></p>
    </div>
  </div>
</div>

