<footer class="container-fluid bg-light fixed-bottom">
  <div class="row-cols-1 border-top">
    <ul class="nav justify-content-center footer">
      <li class="nav-item">
        <a class="nav-link h6 text-black text-uppercase" href="#">statute</a>
      </li>
      <li class="nav-item">
        <a class="nav-link h6 text-black text-uppercase" href="#">privacy policy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link h6 text-black text-uppercase" href="#">contact</a>
      </li>
    </ul>
  </div>
  <div class="row-cols-1 text-center bg-success text-white">
    <p>edusnooker.pl © 2022</p>
  </div>
  <button [hidden]="!isAdmin" [routerLink]="['/user/management']" class="btn btn-warning btn-admin">Admin panel</button>
</footer>
