<footer class="container-fluid bg-light ">
  <div class="row-cols-1 border-top">
    <ul class="nav justify-content-center footer">
      <li class="nav-item small">
        <a class="nav-link h6 text-black text-uppercase" [routerLink]="'/statute'"><small>statute</small></a>
      </li>
      <li class="nav-item small">
        <a class="nav-link h6 text-black text-uppercase" [routerLink]="'/policy'"><small>privacy policy</small></a>
      </li>
      <li class="nav-item small">
        <a class="nav-link h6 text-black text-uppercase" [routerLink]="'/contact'"><small>contact</small></a>
      </li>
    </ul>
  </div>
  <div class="row-cols-1 text-center bg-success text-white">
    <p class="small pt-2">edusnooker.pl © 2022</p>
    <div class="row-cols-1 text-center">
      <p><small>All rights reserved, copying, and distibution of any materials published on this website is strictly prohibited.</small></p>
      <p><small>This site uses cookies - more on this subject you can read in the "privacy politics".
        You accept our use of cookies by continuing to browse this website.</small></p>
      <p class="pb-2"><small>Image Photo based on Character Rig Vincent from studio.blender.org, author: Blender Studio, license: CC-BY https://creativecommons.org/licenses/by/4.0/</small></p>
    </div>
  </div>
</footer>
