<div class="container pt-3">
  <div class="row justify-content-center p-4">
    <div class="card mb-3" style="max-width: 960px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="assets/image/vincent002.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h2 class="card-title text-center mt-2" style="color: dimgrey">SUBSCRIBE</h2>
            <br>
            <h5 class="text-center">Why subscribe?</h5>
            <div class="alert alert-success" role="alert">
              <i class="bi bi-check" style="color: green"></i>Access to all exercises from all levels
            </div>
            <div class="alert alert-info" role="alert">
              <i class="bi bi-check" style="color: green"></i>A personal panel with your three favorite exercises
            </div>
            <div class="alert alert-warning" role="alert">
              <i class="bi bi-check" style="color: green"></i>Keeping statistics of your progress
            </div>
            <br>
            <br>
            <h1 class="display-6 text-center"><b>10.00</b><i class="bi bi-currency-euro"></i> | <small>PER MONTH</small></h1>
            <br>
            <button class="btn btn-block btn-success w-100">
              <span>BUY</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
