<div class="container-fluid">
  <div class="row py-4">
    <div class="col">
      <div class="text-center">
        <h1 class="text-uppercase text-capitalize text-subject" >
          CONTACT
        </h1>
        <h6 class="pt-2">If you have any questions about the materials on the website, please contact us by e-mail.</h6>
      </div>
    </div>
  </div>
  <div class="row pb-3">
    <div class="col">
      <div class="text-center">
        <h4 style="color: red">
          edusnooker@gmail.com
        </h4>
        <br>
      </div>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col">
      <div class="text-center">
        <h4 style="color: gray">
          Company's data:
        </h4>
        <br>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="text-center">
        <h3 class="text-subject text-center">Voice&Sound Magdalena Lebiecka</h3>
        <h5 class="text-subject text-center">ul. Nowowiejska 26</h5>
        <h5 class="text-subject text-center">45-460 Opole</h5>
        <h5 class="text-subject text-center">POLAND</h5>
        <h5 class="text-subject text-center">NIP: 9691301802</h5>
        <h5 class="text-subject text-center">REGON: 520961671</h5>
      </div>
    </div>
  </div>
</div>
