<div class="row justify-content-center">
  <div class="col-lg-7 col-sm-10 col-xs-10">
    <h6 class="text-center text-cytat cytat pt-4">
      <img src="assets/image/mental.jpg" class="img-fluid img-thumbnail rounded" alt="good position by table (Vincent from Blender Studio)" style="width: 1100px;">
    </h6>

    <p class="pt-5 px-3 py-1">
      <button id="myCollapsible" class="btn btn-outline-success w-100 active-me" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseExample1"
              aria-expanded="false" aria-controls="collapseExample1">
        Introduction
      </button>
    </p>
    <div class="collapse px-3 pb-3" id="collapseExample1">
      <div class="card card-body">
        <p>
          Many of us athletes in this sport focus on our ability to pocket balls, create opportunities,
          and win matches as a measure of our training and performance. However, the reality is that success
          in this sport also involves a mental component. Our mindset and approach to the game can greatly
          impact our ability to perform and achieve results. By developing a positive attitude and mindset,
          we can improve both our physical and mental performance.
        </p>
        <p>
          Every day, the decisions we make, no matter how insignificant they may seem, shape the person we
          are and the athlete we will become. These decisions may not seem to have any lasting consequences,
          but they ultimately determine our character and performance as a snooker player and in all other aspects
          of life. Furthermore, these daily decisions and thoughts also have an impact on the efficiency of our body,
          which means that their dimension is much greater than the time we spend training.
        </p>
        <p>
          To enhance the stability of the guidance cue, we can add two additional fixed points. To do this, we can lean
          over the table and rotate our shoulders by 90 degrees, while also contracting our chest and chin towards the cue.
          Initially, we should position the cue on the firing line and then allow our body to lean against the cue.
          This will simplify the process of guiding the cue while feathering.
        </p>
        <p>
          <b><i>Each of the seemingly insignificant decisions you make every day has an impact on the results you
            will achieve in snooker</i></b>
        </p>
        <p>
          The top snooker players are not only known for their technical skills and precision on the table,
          but also for their mental fortitude and resilience. They understand that winning is not just about
          playing perfect shots, but also about being mentally prepared and focused. They use every thought and
          decision to improve their chances of success.
        </p>
        <p>
          One of the key traits shared by the greatest athletes in any sport is their unwavering commitment
          to achieving their goals. This level of dedication and effort is not only required for success in sports,
          but in any other area of life as well.
        </p>
      </div>
    </div>

    <p class="px-3 py-1">
      <button class="btn btn-outline-success w-100 active-me" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseExample2"
              aria-expanded="false" aria-controls="collapseExample2">
        Motivation
      </button>
    </p>
    <div class="collapse px-3 pb-3" id="collapseExample2">
      <div class="card card-body">
        <p>
          Motivation is the driving force behind achieving any goal. It begins with a strong commitment to a desired
          outcome and a willingness to take action to make it happen. Having a lifestyle that supports the demands
          of the task at hand is also crucial.
        </p>
        <p>
          The more challenging the goal, the more important it is to align your daily habits and actions with it.
          At the highest level of success, every aspect of your life, from the food you eat to the people you surround
          yourself with, should be aligned with and support your goal. This holistic approach is essential to achieving
          your desired outcome.
        </p>
        <p>
          Motivation is a vital ingredient in setting and achieving ambitious goals, particularly in the field
          of sports. The drive to succeed must come from within, and cannot be externally imposed.
        </p>
        <p>
          It is important to remember that no one can give you motivation, it must come from within yourself.
          All that can be done is to provide guidance and perspective, but ultimately the level
          of motivation is determined by the individual.
        </p>
        <p>
          For a true snooker player, the love for the sport is the driving force behind their motivation.
          They are consumed by snooker, reading about it, watching it on TV, talking to other players
          and thinking about it constantly. This unconditional passion for the game is what pushes them
          to push their own limits and see how far they can go.
        </p>
      </div>
    </div>

    <p class="px-3 py-1">
      <button class="btn btn-outline-success w-100 active-me" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseExample3"
              aria-expanded="false" aria-controls="collapseExample3">
        Dreams and goals
      </button>
    </p>
    <div class="collapse px-3 pb-3" id="collapseExample3">
      <div class="card card-body">
        <p>
          Achieving greatness always begins with a dream, but turning that dream into a tangible goal requires
          taking action. This is often the most challenging part as it requires careful reflection
          and self-evaluation. The dreamer must ask themselves important questions such as:
        </p>
        <p>
          <b>-</b> Am I ready to take the necessary steps towards my goal?<br>
          <b>-</b> What changes do I need to make in my life to increase my chances of success?<br>
          <b>-</b> Is my current life situation conducive to making these changes?<br>
          <b>-</b> What sacrifices will I need to make in order to achieve this goal?<br>
          <b>-</b> Am I willing to make these sacrifices?<br>
          <b>-</b> How will I handle failure or success once I've achieved my goal?
        </p>
        <p>
          Answering these questions truthfully and taking the necessary actions, even if it means making sacrifices,
          is the key to turning dreams into reality.
        </p>
        <p>
          Perfection is a rare and elusive goal. Many athletes fall short of their aspirations due to a lack of
          clear and specific goals. They may have a general idea of what they want to achieve but
          have never fully defined or committed to it.
        </p>
        <p>
          <b><i>Achieving high results always starts with a dream.</i></b>
        </p>
        <p>
          For those who have had a consistent dream for a long time, it's important to give it more concrete
          shape and turn it into a specific goal. The next step is to develop a sense of mission and
          a burning desire to achieve it. This process requires a shift in mindset,
          moving from a passive dreamer to an active doer with a laser focus on achieving the goal.
        </p>
        <p>
          An individual with a sense of mission will not let obstacles or setbacks stand in their way,
          they will find a way to overcome them and achieve their goal. It's important to remember
          that reaching perfection is rare, but with clear goals, a sense of mission and a strong
          determination to succeed, one can come close to it.
        </p>
        <p>
          It is important to never lose sight of your dreams and aspirations. Take time to reflect on what you
          most want to achieve in snooker, even if you are not certain at the moment. With time, you will
          come to understand what you want to devote your energy and commitment to and this will bring
          your dream one step closer to reality.
        </p>
        <p>
          It's possible that the fulfillment of your dream may be a distant future for now, but this should not
          discourage you. The bigger the dream, the more spectacular the goal, the more time it may take to achieve it.
          Remember that your commitment to achieving it must turn into a sense of mission and the more ambitious it is,
          the more sacrifices you may need to make in your daily life. The success of your mission should be a priority
          for every decision you make every day. Never stop dreaming and always strive to turn your dreams into a reality.
        </p>
      </div>
    </div>

    <p class="px-3 py-1">
      <button class="btn btn-outline-success w-100 active-me" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseExample4"
              aria-expanded="false" aria-controls="collapseExample4">
        Believe
      </button>
    </p>
    <div class="collapse px-3 pb-3" id="collapseExample4">
      <div class="card card-body">
        <p>
          Although it's inevitable to encounter setbacks while training for a competition, it's crucial to view them
          as mere hiccups on the path to triumph. Even the most accomplished athletes have faced failures and challenges,
          but what sets them apart is their ability to maintain self-assurance, perseverance, and mental fortitude
          in the face of adversity. Any other response will only lead to defeat.
        </p>
        <p>
          Maintaining motivation in the face of challenges is primarily reliant on one's self-assurance. Without belief
          in your own capabilities, achieving your goals becomes impossible. Success necessitates self-confidence and
          trust in your own abilities. Do you possess this confidence? Do you truly have faith in yourself? Can you
          remain steadfast in the face of adversity? Self-confidence is the quiet inner voice that tells you
          "I can do it." Unfortunately, that positive message isn't always present when you need it the most.
          More often than not, the negative part of you - the part that loudly declares
          "You can't do it!" - speaks up when obstacles arise. This critical voice can be heard not just during training,
          but also, if not primarily, on the day of the competition when the outcome rests on your shoulders.
          In these moments, it's essential to have the assurance to stay focused and determined.
        </p>
        <p>
          Self-confidence is an innate quality that we all possess from birth. As children, we were inclined to take
          risks and try new things, because we believed in ourselves and our abilities. We didn't question
          our capabilities, and it was the risk-taking that made it all the more fun. However, as we grow older,
          many of us tend to lose this natural self-confidence due to various factors such as failures, negative
          influences and people. The good news is, this can be overcome. Here are two simple things you can do daily
          to boost your self-confidence, I often tell my athletes to practice these, they are simple yet effective.
          Remember, consistency is key, you must do them every day without fail.
        </p>
        <h6>
          Accumulating successes
        </h6>
        <p>
          One way to enhance your self-confidence is by accumulating successes. To do this, create a personal
          "success bank" where you can store your accomplishments. Every night before bed, take a moment to reflect
          on the day's training and identify one thing you did well. Add that success to your bank and let it play
          in your mind as you drift off to sleep. This simple practice can help you focus on your achievements
          and build a strong sense of self-confidence over time.
        </p>
        <p>
          <b><i>One way to build self-confidence is to collect successes.</i></b>
        </p>
        <p>
          The successes you collect can vary in size and significance, but the important thing is that the value
          of your success bank should increase each day. Whenever you find yourself being overwhelmed by negative
          thoughts, you can refer to your success bank for a boost of self-confidence. One particularly beneficial
          time to review the contents of your success bank is in the week leading up to a tournament, when self-doubt
          and uncertainty can start to creep in. This can help to remind yourself of your capabilities and achievements,
          and give you the confidence you need to perform at your best.
        </p>
        <p>
          When you find yourself feeling anxious or stressed about an upcoming event, try to take a step back and
          focus on the successes you've accumulated in your personal bank. Recall those memories in as much detail
          as possible, and allow yourself to relive them. If you find yourself hearing negative self-talk such
          as "You can't do it", reach for one of your successes to counteract those thoughts. These key moments
          are when your past accomplishments can provide the most powerful motivation and self-assurance.
          Remind yourself, "I remember that moment when..." and let your successes speak louder than your doubts.
        </p>
        <p>
          Instead of holding onto negative experiences or unsuccessful snooker practice sessions, it's best to let
          them go and instead focus on positive experiences and moments. This can help improve overall
          performance and mindset in the snooker.
        </p>
        <h6>
          Act as if it already is true
        </h6>
        <p>
          Another way to boost confidence is to adopt the mindset of someone who already possesses it. This means
          consistently embodying the attitude of a self-assured individual, both in thought and action. Even when
          feeling uncertain, by pretending to be confident, it can ultimately lead to an internal shift in how one
          perceives themselves. This can bring about a positive change in self-perception.
        </p>
        <p>
          An individual with a strong belief in their abilities, exudes confidence in their behavior. They make eye
          contact and communicate assertively, without diminishing the accomplishments of others. They move with ease
          and grace, and do not display signs of anxiety or nervousness. Their self-assurance is evident in their
          every action and gesture, making it easily recognizable to those around them.
        </p>
        <p>
          Even if you may still be far from embodying that attitude, especially on competition day, it's important
          to act as if you already possess it. By pretending until it becomes true, you can instill confidence within
          yourself, even when feeling uncertain internally. Confidence in one's abilities cannot be gained by
          displaying a lack of confidence through slouching or expressing doubts about the outcome of actions.
          It's like sending mixed signals. Instead, by consistently "acting as if you already are" confident,
          it can help you navigate those moments when your confidence is low. Give it a try.
        </p>
      </div>
    </div>

    <p class="px-3 py-1">
      <button class="btn btn-outline-success w-100 active-me" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseExample5"
              aria-expanded="false" aria-controls="collapseExample5">
        Mental toughness
      </button>
    </p>
    <div class="collapse px-3 pb-3" id="collapseExample5">
      <div class="card card-body">
        <p>
          Dedication is the driving force behind achieving a goal. It is the passion that propels individuals to push
          themselves further and strive for excellence. Committed athletes possess certain characteristics that set
          them apart from others. They always keep their goals at the forefront of their minds and have a strong desire
          to constantly improve and outperform their rivals. They are laser-focused on achieving perfection and do
          not allow distractions to steer them off course. Failure is seen as a normal part of the journey, and they
          easily bounce back from setbacks. They do not engage in self-criticism, instead, they celebrate their
          successes and analyze the reasons behind them. They possess a strong belief in their abilities and are
          confident in their capabilities.
        </p>
        <p>
          <b><i>Dedication is nothing but passion for a goal.</i></b>
        </p>
        <p>
          Mental toughness is not a sudden occurrence that only some individuals possess. It is a consistent mindset
          that is developed over time through preparation and practice. It encompasses every thought and action
          leading up to an important match, not just when the match itself is taking place. It is only in the most
          challenging moments that mental toughness truly shines through. Furthermore, patience is a crucial aspect
          of developing mental toughness in snooker. Without the ability to remain calm and composed in the face
          of adversity, mental toughness cannot be fully realized.
        </p>
      </div>
    </div>

    <p class="px-3 py-1">
      <button class="btn btn-outline-success w-100 active-me" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseExample6"
              aria-expanded="false" aria-controls="collapseExample6">
        Patience
      </button>
    </p>
    <div class="collapse px-3 pb-3" id="collapseExample6">
      <div class="card card-body">
        <p>
          Achieving success is not a quick or easy feat. Simply having a goal and being dedicated to it does not
          guarantee success. Snooker, in particular, requires a great deal of patience in order to excel.
          The more challenging the task, the more patience is required to see it through to completion.
        </p>
        <p>
          Patience is a crucial trait for any aspiring snooker player, as it is required not only during matches
          but also in the daily training process. Becoming proficient in techniques such as potting balls and
          positioning the white ball takes considerable time and effort. It is not a journey that can be completed
          in a matter of hours or days, but rather one that requires months and years of dedication. In short,
          to excel in snooker, you must be prepared to put in the time and be patient through the long
          and challenging journey ahead.
        </p>
        <p>
          <b><i>Patience is a prerequisite for success.</i></b>
        </p>
        <p>
          The way a snooker player approaches their training can reveal a lot about their level of patience.
          A player who lacks patience may constantly switch between different exercises, quickly getting bored
          with any one routine that isn't immediately effective. They may also neglect simpler exercises in favor
          of more complex routines, driven by an intense passion and desire to succeed. However, this approach can
          ultimately work against them, as it is through consistent, dedicated practice that true progress is made.
          Patience is key in achieving success in the sport of snooker, and it is visible in the approach a player
          takes to their training.
        </p>
        <p>
          Patience is a trait that can be developed, but it requires consistent effort and practice.
          It's not something that can be easily acquired, but rather something that needs to be cultivated
          in all aspects of life. For snooker coaches, one of the most challenging tasks is helping players
          to build patience. It takes a lot of patience and time to help a player develop the skill of patience.
          However, if a player can develop patience, it will pay off in the long run as it will help them to
          be more successful in the game of snooker.
        </p>
        <p>
          To develop patience as a snooker player, it's essential to take on the role of your own coach.
          Recognize your own lack of patience and take control of it. Keep in mind that patience means
          consistently making small progress towards your goals over time, and that the process of developing
          patience will take months. By incorporating daily practices that encourage patience, you will improve
          your ability to control your emotions and become a model of patience- which is a fundamental requirement
          for success in the sport. It may not be easy, but with consistent effort, you can learn to be more
          patient and ultimately achieve your goals.
        </p>
      </div>
    </div>

    <p class="px-3 py-1">
      <button class="btn btn-outline-success w-100 active-me" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseExample7"
              aria-expanded="false" aria-controls="collapseExample7">
        Perseverance
      </button>
    </p>
    <div class="collapse px-3 pb-3" id="collapseExample7">
      <div class="card card-body">
        <p>
          ........................
        </p>
      </div>
    </div>

    <p class="px-3 py-1">
      <button class="btn btn-outline-success w-100 active-me" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseExample8"
              aria-expanded="false" aria-controls="collapseExample8">
        Consistency and routine
      </button>
    </p>
    <div class="collapse px-3 pb-3" id="collapseExample8">
      <div class="card card-body">
        <p>
          ........................
        </p>
      </div>
    </div>

    <p class="px-3 py-1">
      <button class="btn btn-outline-success w-100 active-me" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseExample9"
              aria-expanded="false" aria-controls="collapseExample9">
        Outside help
      </button>
    </p>
    <div class="collapse px-3 pb-3" id="collapseExample9">
      <div class="card card-body">
        <p>
          ........................
        </p>
      </div>
    </div>
  </div>
</div>
