<app-topbar></app-topbar>

<div id="content-wrapper">
  <router-outlet></router-outlet>
</div>


<!--<app-exercise-list></app-exercise-list>-->

<!--<app-level-list></app-level-list>-->

<footer class="container-fluid bg-light">
  <div class="row-cols-1 border-top">
    <ul class="nav justify-content-center p-1">
      <li class="nav-item">
        <a class="nav-link h4 text-black m-3 text-uppercase" href="#">statute</a>
      </li>
      <li class="nav-item">
        <a class="nav-link h4 text-black m-3 text-uppercase" href="#">privacy policy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link h4 text-black m-3 text-uppercase" href="#">contact</a>
      </li>
    </ul>
  </div>
  <div class="row-cols-1 text-center bg-success text-white m-1">
    <p>edusnooker.pl © 2022</p>
  </div>
</footer>
