<div *ngFor="let level of levelsInfo; let i = index " class="container">
  <div class="row justify-content-center p-4">
    <div class="card shadow p-3 mb-5 bg-body rounded">
      <div class="row">
        <div class="col-lg-3">
          <div class="row h3 text-center m-3 text-uppercase">
            <p>LEVEL {{i}}</p>
          </div>
          <div class="row">
            <div class="col text-center">
              <img src="assets/image/level-{{i}}.png" class="img-fluid" alt="...">
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="row h5 m-4 text-center">
            <p>Progerss</p>
          </div>
          <div class="row m-3">
            <div class="col">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
                     style="width: 75%"
                     aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
          <div class="row h5 m-2 text-center">
            <p>0/{{level?.numberOfExercise}}</p>
          </div>
          <div class="row h5 text-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-check-lg ok"
                 viewBox="0 0 16 16">
              <path
                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
            </svg>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="row align-items-center text-center" style="height: 200px">
            <div class="col">
              <p>Remaining access time: 304 days</p>
              <p>The minimum number of points to pass the level: {{level?.numberOfPointToTarget}}</p>
            </div>
          </div>
          <div class="row m-2">
            <button [routerLink]="['/level', i]" type="button" class="btn btn-success text-uppercase">go to exercise</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
