<!-- user profile -->
<div class="container">
  <div class="row flex-lg-nowrap">
    <div class="col">
      <div class="row">
        <div class="col mb-3">
          <div class="card">
            <div class="card-body">
              <div class="e-profile">
                <div class="row">
                  <div class="col-12 col-sm-auto">
                    <div class="mx-auto" style="width: 120px;">
                      <div class="d-flex justify-content-center align-items-center rounded">
                        <img class="rounded" height="135" width="135" src="{{user?.profileImageUrl}}" alt="user photo">
                      </div>
                      <div *ngIf="fileStatus?.status === 'progress'" class="progress mt-1">
                        <div class="progress-bar bg-info" role="progressbar"
                             [style.width.%]="fileStatus?.percentage"
                             aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="100">{{fileStatus?.percentage}}%
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                    <div class="text-center text-sm-left mb-2 mb-sm-0">
                      <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{user?.firstName}} {{user?.lastName}}</h4>
                      <p class="mb-0">{{user?.username}}</p>
                      <div *ngIf="user?.lastLoginDate !== null" class="text-muted"><small>Last login:
                        {{user?.lastLoginDate | date: 'mediumDate'}}</small></div>
                      <div class="mt-2">
                        <button (click)="updateProfileImage()" class="btn btn-success" type="button">
                          <i class="fa fa-fw fa-camera"></i>
                          <span>Change Photo</span>
                        </button>
                      </div>
                    </div>
                    <div class="text-center text-sm-right">
                      <div class="text-muted"><small>Joined {{user?.joinDate | date: 'mediumDate'}}</small></div>
                    </div>
                  </div>
                </div>
                <div class="tab-content pt-3">
                  <div class="tab-pane active">
                    <form #profileUserForm="ngForm" (ngSubmit)="onUpdateCurrentUser(profileUserForm.value)" class="form"
                          novalidate>
                      <div class="row">
                        <div class="col">
                          <div class="row my-3">
                            <div class="col">
                              <div class="form-group">
                                <label>First Name</label>
                                <input type="text" name="firstName" required [(ngModel)]="user.firstName"
                                       class="form-control">
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" name="lastName" required [(ngModel)]="user.lastName"
                                       class="form-control">
                              </div>
                            </div>
                          </div>
                          <div class="row my-3">
                            <div class="col">
                              <div class="form-group">
                                <label>Username</label>
                                <input type="text" name="username" required [(ngModel)]="user.username"
                                       class="form-control">
                              </div>
                            </div>
                          </div>
                          <div class="row my-3">
                            <div class="col">
                              <div class="form-group">
                                <label>Email</label>
                                <input type="text" name="email" required [(ngModel)]="user.email"
                                       class="form-control">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col ms-2 mt-3">
                          <div class="form-check form-switch">
                            <label class="form-check-label">Progress Mode
                              <input class="form-check-input alert-success" type="checkbox" role="switch"
                                     (click)="onProgressMode()" [checked]="progressMode" [disabled]="!isSubscribe">
                            </label>
                            <p>
                            <small><i>Disabling Progress Mode provides full access to all exercises. Newcomers
                              are encouraged to exercise with Progress Mode on, unlocking subsequent levels after
                              finishing the required number of exercises.</i></small>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="row mt-5">
                        <div class="col d-flex justify-content-end">
                          <button class="btn btn-success" type="submit">
                            <i *ngIf="refreshing" class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
                            <span *ngIf="refreshing">Loading...</span>
                            <span *ngIf="!refreshing">Save Changes</span>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
          <div class="card mb-3">
            <div class="card-body">
              <div class="px-xl-3">
                <button class="btn btn-block btn-secondary w-100" (click)="logout()">
                  <span>Logout</span>
                  <i class="fas fa-sign-in-alt ml-1"></i>
                </button>
                <button [hidden]="!isAdmin" [routerLink]="['/user/management']"
                        class="btn btn-black btn-warning w-100">Admin panel
                </button>
              </div>
            </div>
          </div>

          <div *ngIf="isSubscribe" class="card">
            <div class="card-body">
              <h4 class="card-title font-weight-bold">Subscribe</h4>
              <div class="alert alert-success" role="alert">
                <b>Woo-Hoo</b> You are subscribed to EduSnooker!
              </div>
              <p>Your subscription will renew on: <b>{{user?.nextPay | date: 'mediumDate'}}</b></p>
              <p>You are currently being charged <b>5.00<i class="bi bi-currency-euro"></i></b></p>
              <br>
              <h5>Why stay subscribed?</h5>
              <p>
                <i class="bi bi-check" style="color: green"></i>Access to all exercises from all levels
                <br>
                <i class="bi bi-check" style="color: green"></i>A personal panel with your three favorite exercises
                <br>
                <i class="bi bi-check" style="color: green"></i>Keeping statistics of your progress
              </p>
              <br>
              <button class="btn btn-block btn-success w-100" (click)="subPanel()" [disabled]="purchaseStarted">
                <i *ngIf="purchaseStarted" class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
                <span *ngIf="purchaseStarted">Loading...</span>
                <span *ngIf="!purchaseStarted">Subscription panel</span>
              </button>
            </div>
          </div>

          <div *ngIf="!isSubscribe" class="card">
            <div class="card-body">
              <h4 class="card-title font-weight-bold">Subscribe</h4>
<!--              coming soon-->
<!--              <img src="assets/image/coming.png" alt="edusnooker"-->
<!--                   style="width: 200px; position: absolute; ; z-index: 1">-->

              <br>
              <h5>Why subscribe?</h5>
              <p>
                <i class="bi bi-check" style="color: green"></i>Unrestricted access to exercises of all skill levels
                <br>
                <i class="bi bi-check" style="color: green"></i>A personalized selection of exercises tailored to your top three preferred choices.
                <br>
                <i class="bi bi-check" style="color: green"></i>Tracking and monitoring your progress through recorded statistics.
              </p>
              <br>
              <button class="btn btn-block btn-success w-100" [routerLink]="['/payments']">
                <span>Subscribe <i class="bi bi-chevron-double-right"></i></span>
              </button>
            </div>
          </div>

          <div class="card mt-3">
            <div class="card-body">
              <h5>Delete Your Account</h5>
              <p style="color: red">
                Warning: If you delete your account you will lose definitive access to it with no way of recovery.
                Your personal data and progress will be erased and lost as well as any ongoing subscription.
              </p>
              <div class="row-cols-auto d-flex justify-content-start">
                <button type="button" class="btn btn-sm btn-danger w-100" data-bs-toggle="modal"
                        data-bs-target="#delete">
                  Delete My Account
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!--  profile image change form-->
  <form enctype="multipart/form-data" style="display: none;">
    <input type="file"
           (change)="onProfileImageChange($event); onUpdateProfileImage()"
           name="profile-image-input" id="profile-image-input" placeholder="file" accept="image/*"/>
  </form>

</div>

<!-- Modal delete -->
<div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Your Account</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p style="color: red">
          <i class="bi bi-exclamation-triangle-fill" style="color: red"></i>Warning: If you delete your account you will
          lose definitive access to it with no way of recovery.
          Your personal data and progress will be erased and lost as well as any ongoing subscription.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete2">
          Yes, I understand
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal delete2 -->
<div class="modal fade" id="delete2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form #deleteForm="ngForm">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel2">Delete Your Account</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                  (click)="clearFieldPassword()"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label>Please type <b>{{user.email}}</b> to confirm.</label>
                <input type="text" name="password" required email [(ngModel)]="password"
                       class="form-control">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="clearFieldPassword()">
            Cancel
          </button>
          <button type="submit" class="btn btn-danger" (click)="deleteMyAccount(user.username)"
                  [disabled]="deleteForm.invalid">
            Yes I want to delete my account
          </button>
        </div>
      </form>
    </div>

  </div>
</div>
