<div class="container">
  <div class="row row-cols-1 row-cols-lg-2 row-cols-xxl-3 p-4 ">
    <div *ngFor="let exercise of exerciseList; let i = index" class="col">
      <div class="card shadow p-3 m-auto my-3 bg-body rounded text-dark bg-warning" style="width: 24rem; height: 30rem">
        <div class="level-color-{{index}}">
          <img src="assets/image/{{exercise.img}}" class="card-img-top" alt="...">
          <div class="card-body" style="height: 15rem">
            <div class="row">
              <div class="col-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                     class="bi bi-check-lg noActive"
                     [ngClass]="{'ok': progressMap?.get(exercise.idExercise)?.pass}"
                     viewBox="0 0 16 16">
                  <path
                    d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                </svg>
              </div>
              <div class="col-9">
                <h5 class="card-title">{{exercise.name}}</h5>
              </div>
              <div class="col-2 text-end"
                   app-progress-exercise [exercise]="exercise.idExercise">
              </div>
            </div>
            <p style="height: 7rem" class="card-text">{{exercise.description}}</p>
            <div class="container-fluid">
              <div class="row-cols-1">
                <a app-exercise></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
