@import "src/assets/styles/variables";


.my_one:after{

  display:block;
  content:"";
  width:1000px;
  height:9px;
  backgroud:green;

}

.my_one:before{
  display:block;
  content:"";
  width:1000px;
  height:3px;
  backgroud:green;
}
