@import "../../../assets/styles/variables";

.icon-info {
  color: $black;
  opacity: 60%;
}

.icon-info:hover {
  color: red;
  opacity: 60%;
}

.noActive {
  color: black;
  opacity: 10%;
}

.text-font {
  font-size: 1.8rem;
}

.font-days {
  font-size: 0.8rem;
}
