<div class="container-fluid">
  <div class="row py-4 justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="text-center">
        <h1 class="text-uppercase text-capitalize text-subject">
          PRIVACY AND COOKIES POLICY
        </h1>
        <h6 class="pt-2">
          This privacy and cookies policy describes the handling of personal data and the use of cookies within the online
          store https://edusnooker.com by EduSnooker Magdalena Lebiecka, ul.Nowowiejska 26, 45-460 Opole, NIP: 9691301802 REGON: 520961671.
        </h6>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-9">
      <div>
        <h4 class="text-subject">§1 Definitions</h4>
        <p class="text-subject">For the purposes of this privacy policy, the following meanings of the following terms are adopted:</p>
        <p class="text-subject">1. Administrator - EduSnooker Magdalena Lebiecka, ul.Nowowiejska 26, 45-460 Opole, NIP: 9691301802 REGON: 520961671.</p>
        <p class="text-subject">2. Store - online store available at https://edusnooker.com.</p>
        <p class="text-subject">3. User - any entity that browses the content of the Store.</p>
        <h4 class="text-subject">§2 Personal Data</h4>
        <p class="text-subject">1. The User may provide his/her personal data to the Administrator by means of forms available on the Site such as the order form or the newsletter subscription form.</p>
        <p class="text-subject">2. The Administrator is the administrator of the User's personal data within the meaning of the Personal Data Protection Act of August 29, 1997.</p>
        <p class="text-subject">3. Personal data provided to the Administrator by the User within the order form are processed for the purpose of executing the contract for the provision of digital content concluded through the Store. Providing personal data by the User is voluntary, but necessary for the User to conclude a contract with the Administrator for the provision of digital content.</p>
        <p class="text-subject">4. Personal data provided to the Administrator by the User within the newsletter sign-up form is processed for the purpose of sending the newsletter to the User. Provision of personal data by the User is voluntary, but necessary for the User to subscribe to the newsletter.</p>
        <p class="text-subject">5. The Administrator guarantees the confidentiality of any personal data provided to it.</p>
        <p class="text-subject">6. Personal data shall be collected with due diligence and adequately protected from access by unauthorized persons, and shall be processed in accordance with the consent and under the conditions set forth in detail in:</p>
        <p class="text-subject" style="text-indent: 5%; ">a) The Act of July 18, 2002 on the provision of electronic services. </p>
        <p class="text-subject" style="text-indent: 5%; ">b) The Act of August 29, 1997 on the protection of personal data. </p>
        <p class="text-subject" style="text-indent: 5%; ">c) 3)the Regulation of the Minister of Internal Affairs and Administration of April 29, 2004 on documentation of personal data processing and technical and organizational conditions to be met by devices and IT systems used for personal data processing. </p>
        <p class="text-subject">7. The User has the rights specified in the legal acts referred to in paragraph 7 above, including in particular to:</p>
        <p class="text-subject" style="text-indent: 5%; ">a) to inspect their personal data, </p>
        <p class="text-subject" style="text-indent: 5%; ">b) demand to complete, update, correct personal data, temporarily or permanently suspend their processing or delete them, if they are incomplete, outdated, untrue or have been collected in violation of the law, or are no longer necessary for the purpose for which they were collected. </p>
        <p class="text-subject">8. Transaction data, including personal data, may be transferred to Stripe.com , to the extent necessary to process payment for the order.</p>
        <h4 class="text-subject">§3 Cookies</h4>
        <p class="text-subject">1. Administrator uses cookies, i.e. small text information stored on the User's terminal device (e.g. computer, tablet, smartphone). Cookies can be read by the Administrator's data communications system.</p>
        <p class="text-subject">2. Administrator stores cookies on the User's end device and then accesses the information contained in them for statistical purposes, for marketing purposes (remarketing) and to ensure proper operation of the Store.</p>
        <p class="text-subject">3. The Administrator hereby informs the User that it is possible to configure the Internet browser in such a way as to prevent the storage of cookies on the User's final device. In such a situation, the use of the Store by the User may be difficult.</p>
        <p class="text-subject">4. The Administrator hereby indicates that cookies may be deleted by the User after they have been stored by the Administrator, through the appropriate functions of the Internet browser, programs used for this purpose or the use of appropriate tools available within the operating system used by the User.</p>
        <h4 class="text-subject">§4 Server Logs</h4>
        <p class="text-subject">1. Using the Store involves sending queries to the server on which the Store is stored.</p>
        <p class="text-subject">2. Each inquiry directed to the server is recorded in server logs. The logs include, among others, the User's IP address, the date and time of the server, information about the Internet browser and the operating system used by the User. </p>
        <p class="text-subject">3. Logs are saved and stored on the server. </p>
        <p class="text-subject">4. The data stored in the server logs are not associated with specific individuals using the Site and are not used by the Administrator to identify the User. The server logs are only auxiliary material used to administer the Store, and their contents are not disclosed to anyone except those authorized to administer the server. </p>
      </div>
    </div>
  </div>
</div>
