<div class="container-fluid">
  <img class="position-absolute top-0 end-0 d-none d-xl-block d-xxl-block" src="assets/image/Frank00.png">
  <div class="row">
    <div class="col-6 row-main">
      <div class="h-100">
        <div class="text-title m-lg-5">
          <h5 class="text-uppercase text-secondary text-description">training monitor</h5>
          <h1 class="text-uppercase text-capitalize text-subject text-snooker"><span
            class="text-online">Online</span>
            Snooker
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-lg-5">
    <p class="cytat">"In order to succeed, we must first believe that we can"</p>
  </div>
  <div class="row justify-content-end">
    <div class="col-xl-3">
      <div class="card text-center shadow p-3 mb-5 bg-body rounded text-dark bg-warning container-fluid">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text card-height">Sugerowane następne ćwiczenie</p>
          <a href="#" class="btn btn-success">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-xl-3">
      <div class="card text-center shadow p-3 mb-5 bg-body rounded text-dark bg-warning container-fluid">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text card-height">Ulubione ćwiczenia</p>
          <a [routerLink]="'/favorite'" class="btn btn-success">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-xl-3">
      <div class="card text-center shadow p-3 mb-5 bg-body rounded text-dark bg-warning container-fluid">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text card-height">Jakie ostatnio było wykonywane ćwiczenie i ile dni temu</p>
          <a href="#" class="btn btn-success">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>



