<a class="btn btn-success w-100 justify-content-center" role="button" data-bs-toggle="modal"
   href="#workout1">Go to exercise
</a>


<div class="modal fade" id="workout1" aria-hidden="true" aria-labelledby="workout1ToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="workout1ToggleLabel">Presentation of the exercise</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Prezentacja ćwiczenia jak je wykonać
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-target="#workout2" data-bs-toggle="modal" data-bs-dismiss="modal">Next</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="workout2" aria-hidden="true" aria-labelledby="workout2ToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="workout2ToggleLabel">Training</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Wykonywanie ćwiczenia przez określony czas
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-target="#workout3" data-bs-toggle="modal" data-bs-dismiss="modal">Next</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="workout3" aria-hidden="true" aria-labelledby="workout3ToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="workout3ToggleLabel">Scoring test</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Sprawdzian - podejście punktowe
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>
