<div class="row justify-content-center">
  <div class="col-lg-7 col-sm-10 col-xs-10">
    <h6 class="text-center cytat pt-4">
      “If you lose money, you lose nothing. If you lose health, you lose something. If you lose peace of mind, you
      lose everything.”
    </h6>
    <h6 class="text-end me-5">
      — Bruce Lee
    </h6>
    <p class="pt-5 px-3 py-1">
      <button id="myCollapsible" class="btn btn-outline-success w-100 active-me" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseExample1"
              aria-expanded="false" aria-controls="collapseExample1">
        How to hold the cue
      </button>
    </p>
    <div class="collapse px-3 pb-3" id="collapseExample1">
      <div class="card card-body">
        <p>
          With a perfectly straight cue ball, most well coordinated people aim well (in a stationary position), but
          when he starts feathering to make a move to hit - he misses. It boils down to one thing, technique.
          Technique is very important. In order to provide a clue, that is, to feather in a straight line
          straight line what we do is work on two fixed points.
        </p>
        <p>- The first point will be the Bridge - keeping in mind, of course, that it's only a fixed point if it doesn't
          is not moving.<br>
          - The second fixed point is the body.</p>
        <p>
          When we talk about a fixed point background, we are actually talking about the body. To increase the
          stability of the guidance cue, let's add to the two fixed points another two. By leaning over the table and
          making a 90-degree turn at the shoulders we tighten with our chest and chin to the cue. First we position
          the cue on the firing line, and then we let the the body to rest against the kĳ. This makes it easier
          to simply guiding the cue while feathering.
        </p>
        <img src="assets/image/black.png" class="img-fluid img-thumbnail rounded" style="width: 200px;"> (rys. czteroma
        punktami podparcia)
        <p>
          Some players make the mistake that when we ask our body body to lean on the cue, what they do they move the
          stick toward the toward the body. This causes the cue to no longer be out of the line of fire, which is a
          mistake.
        </p>
        <p>
          It is very important where we hold cue. If I hold the cue too close I have a very short
          movement when feathering, so I can simply increase it, moving my hand. Theoretically
          if I hold on the end of the cue then I have the maximum movement of the of the pointer, feathering. But
          if my bridge is too far from the white ball it will still will have a short movement clues.
        </p>
        <img src="assets/image/black.png" class="img-fluid img-thumbnail rounded" style="width: 200px;"> (rys. trzymania
        kĳa bliskie)
        <img src="assets/image/black.png" class="img-fluid img-thumbnail rounded" style="width: 200px;"> (rys. trzymania
        kĳa optymalne)
        <img src="assets/image/black.png" class="img-fluid img-thumbnail rounded" style="width: 200px;"> (rys. trzymania
        kĳa na końcu)
        <img src="assets/image/black.png" class="img-fluid img-thumbnail rounded" style="width: 200px;"> (rys. trzymanie
        koniec kĳa i daleki most)
        <p>
          <b>Remember:</b> Don't lean your cue against your body, always let your body to lean against the cue.
        </p>
        <p>
          I consider the handle cue to be the heart of the game. The shoulder joint is the
          ball and invariably dictates where the elbow goes. The elbow is a
          hinge joint meaning it operates only in one plane.
          The wrist is multifunctional and harmonious with the joint elbow. The control of the
          cue is achieved through a fleshy network of skin between the thumb and forefinger, so that if I
          I'm holding the cue, I hinge the cue with my index finger index finger around it and
          close it with my thumb, I concentrate focus on the front side. This is the the main essence of the grip, now
          closing the other fingers. Pulling the cue forward and backward let these fingers develop.
          By pulling the cue away from the ball we unroll the fingers while striking close the grip. The fingers during
          unfolding should be in contact with the cue all the time.
        </p>
        <img src="assets/image/black.png" class="img-fluid img-thumbnail rounded" style="width: 200px;"> (rys. ruch
        wahadłowy ręki)
        <img src="assets/image/black.png" class="img-fluid img-thumbnail rounded" style="width: 200px;"> (rys.
        rozwijanie palców)
        <p>
          If, when making a sweep, pulling back the cue, we do not develop the fingers, there will be a swing of the cue
          and you will not guide it parallel to the table. And this is what we care about. If with such a grip without
          unrolling the fingers we want to guide the cue in parallel our body will engage additional muscles and
          activate the shoulder joint. When we start using these main muscles, all sorts of all kinds of mistakes will
          creep in.
        </p>
        <img src="assets/image/black.png" class="img-fluid img-thumbnail rounded" style="width: 200px;"> (rys.
        równoległość kija do stołu i kąt prostu pomiedzy kijem a ramieniem)
        <p>
          At the moment of tip contact with the cue ball, our forearm and cue should form a right angle. This position
          positions our cue most parallel to the table, because if we pull our cue back it's back it's end goes upwards.
          And for us, it is best that at the moment of contact the cue is most parallel to the table.
        </p>
      </div>
    </div>

    <p class="px-3 py-1">
      <button class="btn btn-outline-success w-100 active-me" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseExample2"
              aria-expanded="false" aria-controls="collapseExample2">
        How establish a good cueing bridge
      </button>
    </p>
    <div class="collapse px-3 pb-3" id="collapseExample2">
      <div class="card card-body">
        <p>
          To properly form the bridge, lay your palm flat on the table palm flat on the table and spread your fingers to
          the width, then gently lift the knuckles by pulling the the pads across the table. The entire pads must lie
          on the table. Pull them over, keeping fingers straight, slide the thumb into the middle and lock it onto
          the index finger, which which now provides stability. This creates an indentation resembling a letter V,
          through which the cue passes through.
        </p>
        <img src="assets/image/black.png" class="img-fluid img-thumbnail rounded" style="width: 200px;"> (rys.
        zdjecie prawidlowego mostka)
        <h6>
          What should be done when the ball is
          near the edge of the table?
        </h6>
        <p>
          It is whether you can put your hands on the table and set a stable bridge is related to the position of the
          of the white ball and has nothing to do with the other balls. When the cue ball is near the
          edge of the table, hand positioning and setting a stable bridge is no longer so simple. In such a situation,
          putting the cue to the white cue ball we notice that hand cannot be placed on the table.
          Therefore, we have to slightly move the hand with the bridge to forward in a more comfortable
          position. By moving the sternum cue forward by the same same amount we should move the other hand that
          holding the cue. The distance between the bridge and the hand that holds the cue should always be the
          same. That is, by changing the the position of the sternum we must change the place of holding the
          cue. This is not a rigid rule, but it is a good reference. I am convinced that it will help you
          improve your game.
        </p>
        <h6>
          Bridge on the edge of the table.
        </h6>
        <p>
          There may be a situation where the arrangement of bridge on the table will not be possible
          if the cue ball stops at the cushion, then we can use one of the following bridges.
        </p>
        <img src="assets/image/black.png" class="img-fluid img-thumbnail rounded" style="width: 200px;"> (rys.
        mostek na bandzie 1)
        <img src="assets/image/black.png" class="img-fluid img-thumbnail rounded" style="width: 200px;"> (rys.
        mostek na bandzie 2)
        <img src="assets/image/black.png" class="img-fluid img-thumbnail rounded" style="width: 200px;"> (rys.
        mostek na bandzie 3)
      </div>
    </div>

    <p class="px-3 py-1">
      <button class="btn btn-outline-success w-100 active-me" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseExample3"
              aria-expanded="false" aria-controls="collapseExample3">
        What you should do to establish a good standing position
      </button>
    </p>
    <div class="collapse px-3 pb-3" id="collapseExample3">
      <div class="card card-body">
        <h6>
          What to do to adopt a good standing position (posture).
        </h6>
        <p>
          A correct and stable posture will help you perform correctly strokes. The importance of two fixed points:
          the bridge of the hand and your body are already known to you. If your body remains immobile,
          your game becomes better. In order to remain stationary we need to work on stability.
        </p>
        <img src="assets/image/black.png" class="img-fluid img-thumbnail rounded" style="width: 200px;"> (rys.
        postawa widok z góry)
        <p>
          To take a good position, the first thing we need to do is determine our firing line. Our cue follows the line
          of the shot and in the same line we place our right leg, which is the same leg in which we hold the cue.
          On the other hand, the left leg should stand slightly wider than the hips, which gives us more stability
          on the sides. To get additional longitudinal stability, that is, along the impact, the left leg is moved
          about 30cm forward and bend slightly at the knee. The right leg remains straightened.
          In this position hitting the white ball is very comfortable and gives great stability.
        </p>
        <img src="assets/image/black.png" class="img-fluid img-thumbnail rounded" style="width: 200px;"> (rys.
        postawa widok z boku)
      </div>
    </div>

    <p class="px-3 py-1">
      <button class="btn btn-outline-success w-100 active-me" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseExample4"
              aria-expanded="false" aria-controls="collapseExample4">
        Middle of the white ball
      </button>
    </p>
    <div class="collapse px-3 pb-3" id="collapseExample4">
      <div class="card card-body">
        <p>
          Players often have the problem that they play an unintended right or left rotation because they don't know
          how to position the cue to white perfectly in the middle. All they see is that the ball doesn't go into the
          pocket.
        </p>
        <h6>What are they starting to do?</h6>
        <p>
          They introduce another disadvantage consisting in the fact that they target somewhat differently.
          Now, when the ball falls into the pocket, they think they are doing it correctly, while in reality what
          what they have done is to change the line of impact stroke by countering the no center stroke on the ball
          white.
        </p>
        <img src="assets/image/black.png" class="img-fluid img-thumbnail rounded" style="width: 200px;"> (rys.
        celowanie w srodek z linia pokazujaca srodek bialej)
        <p>
          One of the ways to determine if you are playing the middle white is to play with a bridge loop in such a way
          that we try on the beat then we catch with the bridge cue placing it on the table, we lean over the white ball
          and we look down from above where we are actually aiming at. Now we can see where we are aiming and how
          it is interpreted by our brain. You can change this interpretation. By looking from above the ball we correct
          the application of the cue to the center of the white and we reassemble to strike. Now the touchdown cue to
          the cue ball will not look like hitting the the center of the cue ball. But if you often enough we repeat it
          brain will change interpretations. Our perception of the center will change will change and our brain will
          start correctly interpret what it what it sees.
        </p>
        <img src="assets/image/black.png" class="img-fluid img-thumbnail rounded" style="width: 200px;"> (rys.
        mostek z pętelką i wychylenie sie aby zobaczyć)
        <h6>
          Two exercises that check if you play straight:
        </h6>
        <p>
          The first exercise to see if you hit the center of the white is to play the white over the spots of
          the colored balls along the table. The white ball is slightly positioned in front of the point of
          the cue ball brown ball so we can use that point to determine whether I am in the middle.
          The white ball is played over the point of the cue ball of the blue, pink and black ball.
          After striking, try to remain still so that the cue ball hits the tip (cue) when returning.<br>
          <b>(Cue ball by points - #101)</b>
        </p>
        <p>
          The second more advanced exercise for determining whether we are hitting the center of the white involves
          hitting the white ball on the blue, after which the blue passes through the point of the pink and black one
          detours from the cushion and, returning, hits the white.<br>
          <b>(Cannon red and white - #102)</b>
        </p>
      </div>
    </div>

    <p class="px-3 py-1">
      <button class="btn btn-outline-success w-100 active-me" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseExample5"
              aria-expanded="false" aria-controls="collapseExample5">
        Timing - cue action
      </button>
    </p>
    <div class="collapse px-3 pb-3" id="collapseExample5">
      <div class="card card-body">
        <p>
          After determining the line of fire and folding along the impact we proceed to the cue action. Cue action
          should proceed in a smooth and calm manner without any quick and sudden movements. The number of repetitions
          should always be the same same. Before the stroke itself, there must be followed by a momentary pause.
        </p>
        <h6>
          Why the cue action?
        </h6>
        <p>
          The cue action is the fixation in muscles of rectilinear movement along which we want to make the shot. The
          cue action must be calm in order to calm our motor skills so that the hit is derived as calmly as possible.
        </p>
        <h6>
          Why the pause?
        </h6>
        <p>
          The pause is very important because if you don't pause the blow will break because the cue will accelerate
          too much to the forward which will make it very difficult to bring the cue out in a straight line.
        </p>
        <h6>
          The course of the cue action on the example of three lashings:
        </h6>
        <p>
          1. First extraction<br>
          2. Second extraction<br>
          3. Third extraction<br>
          4. Fourth pullback and first pause<br>
          5. Smoothly bringing the cue forward with appropriate dynamics<br>
          6. The strike is followed by a natural deceleration of the cue and a second pause<br>
          7. In this position after the shot we stay for a while
        </p>
        <p>
          Thanks to the cue action, we can select the strength of the impact. If I want to play a light stroke my
          feathering should have short lashings, while if I want to play a strong shot of the blow should be longer.
        </p>
      </div>
    </div>

    <p class="px-3 py-1">
      <button class="btn btn-outline-success w-100 active-me" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseExample6"
              aria-expanded="false" aria-controls="collapseExample6">
        Dominant eye
      </button>
    </p>
    <div class="collapse px-3 pb-3" id="collapseExample6">
      <div class="card card-body">
        <p>
          <b>Where do you look when hitting the white ball?</b> When striking, do you look at the at the white ball
          or at the played ball? The answer is only one to the ball played.
        </p>
        <h6>
          This can be done in three ways:
        </h6>
        <p>
          <b>The first way -</b> We prepare to strike and look at the white ball and the ball being played,
          eyes hovering between them along the line of impact. We stare at the the ball being played we pull back
          the cue and strike. This method gives us plenty of time to focus on the ball we want to pocket.
          The disadvantage is that we can't see how the cue is retreating and we can pull the cue back a little too hard.
        </p>
        <p>
          <b>The second way -</b> We prepare to strike by looking at the ball the white ball and the ball to be struck.
          We stop looking at the cue ball and look at the ball being played when the cue retreats and we strike.
          In this method we have less time to focus on the ball the ball being played.
        </p>
        <p>
          <b>The third way -</b> We prepare to strike by looking at the cue ball, aiming. I look at the cue pulling
          it back and stopping it. Still we look at the cue before the actual strike I look at the ball being played
          and strike. This method just like the first one gives you more time to focus on the ball being played.
        </p>
        <h6>
          Where to position the dominant eye and where to hold the head during impact?
        </h6>
        <p>
          When the players fold up to hit and start the cue action, you may notice that some players cue more under the
          right or left eye. This is because they have one eye more dominant, so if the right eye is dominant
          cue will be more under the right eye.
        </p>
        <p>
          So how to determine which eye is dominant eye, first put the tickets on the table. Take a piece of
          piece of paper and cut a hole in it. Hold the piece of paper with your straight hands, and then look through
          the hole at the ball. Then close your left eye if you can still see the ball right eye you have,
          the dominance of the of the right eye. Again verify, straighten your arms and look at the ball through
          the cut hole in the card and close right eye. If the ball disappears it again proves that indeed your
          right eye is dominant. If you have dominance of the left eye the situation is reversed.
        </p>
        <img src="assets/image/black.png" class="img-fluid img-thumbnail rounded" style="width: 200px;"> (rys.
        pokazane jak sprawdzic dominujace oko)
      </div>
    </div>

    <p class="px-3 py-1">
      <button class="btn btn-outline-success w-100 active-me" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseExample7"
              aria-expanded="false" aria-controls="collapseExample7">
        Potting Angles
      </button>
    </p>
    <div class="collapse px-3 pb-3" id="collapseExample7">
      <div class="card card-body">
        <p>
          Hitting balls straight when our technique is correct does not causes a big problem, but when we play
          the balls at a certain angle in relation to the pocket the stairs begin. How to hit the white ball
          on the played ball so that it falls into the pocket. How to choose the right angle for pocketing?
          This is the most common question asked by novice snooker players how to properly pocket and how
          to recognize the suitable angles.
        </p>
      </div>
    </div>

    <p class="px-3 py-1">
      <button class="btn btn-outline-success w-100 active-me" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseExample8"
              aria-expanded="false" aria-controls="collapseExample8">
        Topspin, Stun and Screw
      </button>
    </p>
    <div class="collapse px-3 pb-3" id="collapseExample8">
      <div class="card card-body">
        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user
        activates the relevant trigger.
      </div>
    </div>

    <p class="px-3 py-1">
      <button class="btn btn-outline-success w-100 active-me" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseExample9"
              aria-expanded="false" aria-controls="collapseExample9">
        The various types of rests used in snooker
      </button>
    </p>
    <div class="collapse px-3 pb-3" id="collapseExample9">
      <div class="card card-body">
        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user
        activates the relevant trigger.
      </div>
    </div>

    <p class="px-3 py-1">
      <button class="btn btn-outline-success w-100 active-me" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseExample10"
              aria-expanded="false" aria-controls="collapseExample10">
        Stress and technique
      </button>
    </p>
    <div class="collapse px-3 pb-3" id="collapseExample10">
      <div class="card card-body">
        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user
        activates the relevant trigger.
      </div>
    </div>

  </div>
</div>
