<div class="row justify-content-center">
  <div class="col-lg-7 col-sm-10 col-xs-10">

    <p class="pt-5 px-3 py-1">
      <button id="myCollapsible" class="btn btn-outline-success w-100 active-me" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseExample1"
              aria-expanded="false" aria-controls="collapseExample1" >
        How to hold the cue
      </button>
    </p>
    <div class="collapse px-3 pb-3" id="collapseExample1">
      <div class="card card-body">
        <p>
          With a perfectly straight cue ball, most well
          coordinated people aim well (in a stationary position), but
          when he starts feathering to make a move to hit - he
          misses. It boils down to one thing, technique. Technique is
          very important. In order to provide a clue, that is, to feather in a straight line
          straight line what we do is work on two fixed points.
        </p>
        <p style="text-indent: 5%; ">The first point will be the Bridge - keeping in mind, of course, that it's only a fixed point if it doesn't is not moving.</p>
        <p style="text-indent: 5%; ">The second fixed point is the body.</p>
        <p>
          When we talk about a fixed point
          background, we are actually talking about the
          body. To increase the stability of the
          guidance kĳa, let's add to the two
          fixed points another two.
          By leaning over the table and
          making a 90-degree turn at the shoulders
          we tighten with our chest and
          chin to the kĳ. First we position the kĳ
          on the firing line, and then we let the
          the body to rest against the kĳ. This makes it easier to simply
          guiding the kĳ while feathering.
        </p>
        <img src="assets/image/black.png" class="img-fluid img-thumbnail" style="width: 200px;">

      </div>
    </div>

    <p class="px-3 py-1">
      <button class="btn btn-outline-success w-100 active-me" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseExample2"
              aria-expanded="false" aria-controls="collapseExample2">
        How establish a good cueing bridge
      </button>
    </p>
    <div class="collapse px-3 pb-3" id="collapseExample2">
      <div class="card card-body">
        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user
        activates the relevant trigger.
      </div>
    </div>

    <p class="px-3 py-1">
      <button class="btn btn-outline-success w-100 active-me" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseExample3"
              aria-expanded="false" aria-controls="collapseExample3">
        What you should do to establish a good standing position
      </button>
    </p>
    <div class="collapse px-3 pb-3" id="collapseExample3">
      <div class="card card-body">
        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user
        activates the relevant trigger.
      </div>
    </div>

    <p class="px-3 py-1">
      <button class="btn btn-outline-success w-100 active-me" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseExample4"
              aria-expanded="false" aria-controls="collapseExample4">
        Middle of the white ball
      </button>
    </p>
    <div class="collapse px-3 pb-3" id="collapseExample4">
      <div class="card card-body">
        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user
        activates the relevant trigger.
      </div>
    </div>

    <p class="px-3 py-1">
      <button class="btn btn-outline-success w-100 active-me" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseExample5"
              aria-expanded="false" aria-controls="collapseExample5">
        Timing - cue action
      </button>
    </p>
    <div class="collapse px-3 pb-3" id="collapseExample5">
      <div class="card card-body">
        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user
        activates the relevant trigger.
      </div>
    </div>

    <p class="px-3 py-1">
      <button class="btn btn-outline-success w-100 active-me" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseExample6"
              aria-expanded="false" aria-controls="collapseExample6">
        Dominant eye
      </button>
    </p>
    <div class="collapse px-3 pb-3" id="collapseExample6">
      <div class="card card-body">
        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user
        activates the relevant trigger.
      </div>
    </div>

    <p class="px-3 py-1">
      <button class="btn btn-outline-success w-100 active-me" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseExample7"
              aria-expanded="false" aria-controls="collapseExample7">
        Potting Angles
      </button>
    </p>
    <div class="collapse px-3 pb-3" id="collapseExample7">
      <div class="card card-body">
        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user
        activates the relevant trigger.
      </div>
    </div>

    <p class="px-3 py-1">
      <button class="btn btn-outline-success w-100 active-me" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseExample8"
              aria-expanded="false" aria-controls="collapseExample8">
        Topspin, Stun and Screw
      </button>
    </p>
    <div class="collapse px-3 pb-3" id="collapseExample8">
      <div class="card card-body">
        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user
        activates the relevant trigger.
      </div>
    </div>

    <p class="px-3 py-1">
      <button class="btn btn-outline-success w-100 active-me" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseExample9"
              aria-expanded="false" aria-controls="collapseExample9">
        The various types of rests used in snooker
      </button>
    </p>
    <div class="collapse px-3 pb-3" id="collapseExample9">
      <div class="card card-body">
        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user
        activates the relevant trigger.
      </div>
    </div>



  </div>
</div>
