@import "variables";

body {
  background: $white
}


.ok {
  color: $green
}

.nok {
  color: lightgray;
  opacity: 30%;
}

.text-hash {
  color: dimgrey;
}

.level-color-0 {
  border: medium solid;
  border-radius: 8px;
  border-width: 2px;
  border-color: $level-white;
}

.level-color-1 {
  border: medium solid;
  border-radius: 8px;
  border-width: 2px;
  border-color: $level-red;
}

.level-color-2 {
  border: medium solid;
  border-radius: 8px;
  border-width: 2px;
  border-color: $level-yellow;
}

.level-color-3 {
  border: medium solid;
  border-radius: 8px;
  border-width: 2px;
  border-color: $level-green;
}

.level-color-4 {
  border: medium solid;
  border-radius: 8px;
  border-width: 2px;
  border-color: $level-brown;
}

.level-color-5 {
  border: medium solid;
  border-radius: 8px;
  border-width: 2px;
  border-color: $level-blue;
}

.level-color-6 {
  border: medium solid;
  border-radius: 8px;
  border-width: 2px;
  border-color: $level-pink;
}

.level-color-7 {
  border: medium solid;
  border-radius: 8px;
  border-width: 2px;
  border-color: $level-black;
}

.cytat {
  font-style: italic;
}
