$green: #019245;
$red: #EB1C24;
$black: #000000;
$white: #FFFFFF;

$level-white: #E0E6E2;
$level-red: #E00102;
$level-yellow: #E3D12B;
$level-green: #026006;
$level-brown: #3E1202;
$level-blue: #0607D5;
$level-pink: #E385BE;
$level-black: #010101;

