<div class="row justify-content-center col-sm-12 col-xl-7 m-auto p-lg-5 p-sm-0">
<!--year-->
  <div class="card shadow bg-body rounded my-4 p-sm-5 mx-5">
    <div [hidden]="this.load">
      <canvas id="myChart11" baseChart
              [data]="barChartData11"
              [type]="barChartType">
      </canvas>
    </div>
  </div>
  <div class="card shadow bg-body rounded my-4 p-sm-5 mx-5">
    <div [hidden]="this.load">
      <canvas id="myChart12" baseChart
              [data]="barChartData12"
              [type]="barChartType">
      </canvas>
    </div>
  </div>
<!--month-->
  <div class="card shadow bg-body rounded my-4 p-sm-5 mx-5">
    <div [hidden]="this.load">
      <canvas id="myChart21" baseChart
              [data]="barChartData21"
              [type]="barChartType">
      </canvas>
    </div>
  </div>
  <div class="card shadow bg-body rounded my-4 p-sm-5 mx-5">
    <div [hidden]="this.load">
      <canvas id="myChart22" baseChart
              [data]="barChartData22"
              [type]="barChartType">
      </canvas>
    </div>
  </div>
<!--hour-->
  <div class="card shadow bg-body rounded my-4 p-sm-5 mx-5">
    <div [hidden]="this.load">
      <canvas id="myChart41" baseChart
              [data]="barChartData41"
              [type]="barChartType">
      </canvas>
    </div>
  </div>
  <div class="card shadow bg-body rounded my-4 p-sm-5 mx-5">
    <div [hidden]="this.load">
      <canvas id="myChart42" baseChart
              [data]="barChartData42"
              [type]="barChartType">
      </canvas>
    </div>
  </div>

</div>
