<div class="row justify-content-center col-sm-12 col-xl-7 m-auto p-lg-5 p-sm-0">
  <form [formGroup]="dataLoadForm">
    <div class="row">
      <div class="col">
        <select formControlName="year" class="form-select" aria-label="Default select example">
          <option *ngFor="let year of allYearStatistics;" value="{{year}}">{{year}}</option>
        </select>
      </div>
      <div class="col">
        <select formControlName="month" class="form-select" aria-label="Default select example">
          <option value="1">January</option>
          <option value="2">February</option>
          <option value="3">March</option>
          <option value="4">April</option>
          <option value="5">May</option>
          <option value="6">June</option>
          <option value="7">July</option>
          <option value="8">August</option>
          <option value="9">September</option>
          <option value="10">October</option>
          <option value="11">November</option>
          <option value="12">December</option>
        </select>
      </div>
      <div class="col">
        <button type="submit" (click)="loadDateStatistic()" class="btn btn-info w-100">Load statistics</button>
      </div>
    </div>
  </form>
  <!--year-->
  <div class="card shadow bg-body rounded my-4 p-sm-5 mx-5">
    <div [hidden]="this.load">
      <div class="col-12">
        <h5 class="text-end">{{year}}</h5>
        <canvas id="myChart11" baseChart
                *ngIf="show"
                [data]="barChartData11"
                [type]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </div>
  </div>
  <div class="card shadow bg-body rounded my-4 p-sm-5 mx-5">
    <div [hidden]="this.load">
      <div class="col-12">
        <h5 class="text-end">{{year}}</h5>
        <canvas id="myChart12" baseChart
                *ngIf="show"
                [data]="barChartData12"
                [type]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </div>
  </div>
  <!--month-->
  <div class="card shadow bg-body rounded my-4 p-sm-5 mx-5">
    <div [hidden]="this.load">
      <div class="col-12">
        <h5 class="text-end">{{stringMonth}}, {{year}}</h5>
        <canvas id="myChart21" baseChart
                *ngIf="show"
                [data]="barChartData21"
                [type]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </div>
  </div>
  <div class="card shadow bg-body rounded my-4 p-sm-5 mx-5">
    <div [hidden]="this.load">
      <div class="col-12">
        <h5 class="text-end">{{stringMonth}}, {{year}}</h5>
        <canvas id="myChart22" baseChart
                *ngIf="show"
                [data]="barChartData22"
                [type]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </div>
  </div>
  <!--hour-->
  <div class="card shadow bg-body rounded my-4 p-sm-5 mx-5">
    <div [hidden]="this.load">
      <div class="col-12">
        <h5 class="text-end">Hours</h5>
        <canvas id="myChart41" baseChart
                [data]="barChartData41"
                [type]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </div>
  </div>
  <div class="card shadow bg-body rounded my-4 p-sm-5 mx-5">
    <div [hidden]="this.load">
      <div class="col-12">
        <h5 class="text-end">Hours</h5>
        <canvas id="myChart42" baseChart
                [data]="barChartData42"
                [type]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </div>
  </div>
</div>
